contract Remainder
  enhances IntegerFacility

  procedure Remainder(updates i: Integer,
                      restores j: Integer)
    requires
      j /= 0
    ensures
      if #i >= 0 or #i mod j = 0 then
        i = #i mod j
      else
        i = (#i mod j) - |j|

end Remainder
