contract Multiply
  enhances IntegerFacility

  procedure Multiply(updates i: Integer,
                     restores j: Integer)
    requires
      MIN <= i * j and i * j <= MAX
    ensures
      i = #i * j

end Multiply
