contract Reverse
  enhances ListTemplateOriginal

  procedure Reverse(updates s: List)
    requires
      s.left = empty_string
    ensures
      s.left = reverse(#s.right) and s.right = empty_string

end Reverse
