contract QuantityInitialized
  enhances UninitializedArrayTemplate

  function QuantityInitialized (restores a: Array) : Integer
    ensures
      QuantityInitialized = |a.initialized|

end QuantityInitialized
